/* 全体 */
body {
    padding-top: 70px;
    /*padding-bottom:70px;*/
}


/* 导航栏 */
#nav_ul li{
    margin-right: 20px;
}


/* 轮播 */
div#carousel-example-generic {
    width: 100%;
    margin: 0 auto;
}

div.item img {
    width: 100%;
}

/* 去除 bootstrap 中轮播两边阴影 https://blog.csdn.net/weixin_38747509/article/details/79358783 */
.carousel-control.left {

    background-image: none;

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);

}

.carousel-control.right {

    left: auto;
    right: 0;

    background-image: none;

    background-repeat: repeat-x;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);

}


/* 缩略图片列表 */
.picture-box {
    padding: 60px 0 100px 0;
    text-align: center;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.title-box p {
    display: block;
    margin-bottom: 30px;
    color: #999;
    transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.picture-list {
    width: 90%;
    margin: 0 auto;
}

.picture-box img {
    width: 340px;
    height: 340px;
}

.blocks, [class*="blocks-"] {
    padding: 0;
    margin: 0 -15px;
    list-style: none;
}

.blocks-xs-2 > li {
    width: 50%;
}

.blocks-md-4 > li {
    width: 25%;
}

.blocks > li, [class*="blocks-"] > li {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 22px;
}


/* 页脚 */
.footer{
    position: relative;
    height: 40px;

}

.footer div{
    background: #17171a;
    line-height: 2;
    padding: 20px 0;

    text-align: center;
    color: #888;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #888;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}
