<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- thymeleaf代码块功能 导入共用link -->
    <th:block th:replace="common :: common_link"></th:block>
    <!-- 导入样式表 -->

</head>
<body>

<!-- 导航栏 -->
<th:block th:replace="common :: common_nav"></th:block>

<div align="center" style="min-height: 751px"><h3>科乐奇&amp;关于我们</h3>
    <div><p style="line-height: 2em; margin-top: 10px;"><span
            style="font-size: 14px; color: rgb(89, 89, 89);"><br></span></p>
        <p style="margin-top: 5px; line-height: 3em;"><span style="font-size: 14px; color: rgb(89, 89, 89);">苏州科乐奇工艺品有限公司是一家专业生产和销售颈枕、靠垫、坐垫、各种儿童玩具等家居用品的企业。展望未来，我们将充分把握中国资本市场的发展趋势，在今后的岁月里，将一如既往地以先进的技术、可靠的质量、快捷的供货、特惠的价格、周到的服务使您得到满意的收获。本公司以国家有关的法律、行业标准为依据，以“诚信、专业、敬业、勤业”为公司的经营准则。“让每一位客户满意”是我们公司全体同仁始终不变的宗旨。</span>
        </p></div>
    <div><p><br></p></div>
    <h3>我们的愿景</h3>
    <p><br></p>
    <p>打造工艺品制造行业最中国的品牌，</p>
    <p>是我们始终追求且奋斗的目标。<br></p>
    <p><span style="font-size: 14px;">我们相信，</span></p>
    <p><span style="font-size: 14px;">创造一个舒适的工艺品和个人的必需品的最品牌。</span></p>
    <p><br></p>
    <h3><strong><span style="font-size: 24px;"></span></strong></h3>
    <h3>产品&amp;设计</h3>
    <p><br></p>
    <p>作为工艺品设计品牌，</p>
    <p>我们创造源于20多年传统高品质的要求和行业经验，<br></p>
    <p>我们专注于功能和现代设计相结合,创造适合日常使用的产品。</p>
    <p>科乐奇能够创造一个独特的和个人通过提供大量各式各样的不同面料，可爱的图案和美丽的色彩，</p>
    <p>每个集合包含大量可能的组合，这使得很容易创建一个个人的和独特的外观。</p>
    <p><br></p></div>

<!-- 页脚 -->
<th:block th:replace="common :: common_footer"></th:block>

</body>
</html>