<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <!--thymeleaf代码块功能 导入共用link-->
    <th:block th:replace="common :: common_link"></th:block>
    <!--导入样式表-->
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>
    <!--JavaScript-->
    <script type="text/javascript">
        $(function () {

            // console.log("[[${productList}]]");

            // 判断空值
            if ("[[${productList}]]".length === 0) {
                return;
            }

            //转换 转义过的引号 &quot; ==> "
            var productListJson = "[[${productList}]]".replace(new RegExp('&quot;', "gm"), '"');

            // console.log(productListJson);

            //解析Json字符串 转换为js对象
            var productList = JSON.parse(productListJson);

            // console.log(productList);

            // 获取表格body
            tb = $("#tbody");

            // 遍历 productList 数组的每个对象,k为 0 开始的下标
            for (var k in productList) {
                // console.log(k + " " + productList[k].name);

                // 新建一行
                var tr = $("<tr/>");
                // 依次插入这一行内的每列
                $("<td/>").html(productList[k].id).appendTo(tr);
                $("<td/>").html(productList[k].class1).appendTo(tr);
                $("<td/>").html(productList[k].class2).appendTo(tr);
                $("<td/>").html(productList[k].class3).appendTo(tr);
                $("<td/>").html(productList[k].name).appendTo(tr);
                $("<td/>").html(productList[k].picture).appendTo(tr);
                // 将该行加入表格中
                tb.append(tr);
            }

            // console.log("[[${pageNum}]]");
            // console.log("[[${pageSize}]]");
            // console.log("[[${totalPages}]]");
            // console.log("[[${totalSize}]]");

            // 分页相关的参数
            var pageNum = parseInt("[[${pageNum}]]");
            var pageSize = parseInt("[[${pageSize}]]");
            var totalPages = parseInt("[[${totalPages}]]");
            var totalSize = parseInt("[[${totalSize}]]");

            // 添加页码中的 "上一页"
            // $("<li/>").append($("<a/>").html("上一页")).appendTo($(".pagination"));
            var a_prev = "<a href=\"pages?pageNum=" + (pageNum - 1) + "&pageSize=10\">上一页</a>";
            $("<li/>").append(a_prev).appendTo($(".pagination"));

            // 添加页码中的 页号
            for (var i = 1; i <= totalPages; i++) {
                // $("<li/>").append($("<a/>").html(i)).appendTo($(".pagination"));
                var a_i = "<a href=\"pages?pageNum=" + i + "&pageSize=10\">" + i + "</a>";
                $("<li/>").append(a_i).appendTo($(".pagination"));

            }

            // 添加页码中的 "下一页"
            // $("<li/>").append($("<a/>").html("下一页")).appendTo($(".pagination"));
            var a_next = "<a href=\"pages?pageNum=" + (pageNum + 1) + "&pageSize=10\">下一页</a>";
            $("<li/>").append(a_next).appendTo($(".pagination"));


            // $("#login").click(function () {
            //
            //     $("#checkPassword").html("");
            //     $("#checkUsername").html("");
            //
            //     data = {"username":$("#inputUsername").val(),
            //         "password":$("#inputPassword").val()};
            //     $.post("/admin/login",data,function (data) {
            //         console.log("123"+data.toString());
            //         if(data.toString()==="USERNAME_DENIED"){
            //             $("#checkUsername").css("color","red");
            //             $("#checkUsername").html("账号不存在");
            //
            //         }
            //         if(data.toString()==="PASSWORD_DENIED"){
            //             $("#checkPassword").css("color","red");
            //             $("#checkPassword").html("密码错误");
            //         }
            //     })
            // });
        });

        function f() {

        }
    </script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/admin_index/product/pages?pageNum=1&pageSize=10">分页查询product</a>
                                </li>
                                <li>
                                    <a href="#">index_product_list</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>

            <lable id="span_page" th:text="${pageNum}"></lable>
            <ul class="pagination">
                <!--                <li>-->
                <!--                    <a href="#">xxx</a>-->
                <!--                </li>-->
            </ul>

            <table class="table table-bordered table-hover table-striped">
                <thead id="thead">
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        class1
                    </th>
                    <th>
                        class2
                    </th>
                    <th>
                        class3
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        picture
                    </th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr>

                </tr>
                <tr class="success">

                </tr>
                <tr class="error">

                </tr>
                <tr class="warning">

                </tr>
                <tr class="info">

                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>


<!--页脚-->
<th:block th:replace="common :: common_footer"></th:block>


</body>
</html>