<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <!--thymeleaf代码块功能 导入共用link-->
    <th:block th:replace="common :: common_link"></th:block>
    <!--导入样式表-->
    <link href="/css/admin.css" rel="stylesheet" type="text/css"/>
    <!--JavaScript-->
    <script type="text/javascript">
        $(function () {

            // console.log("[[${productList}]]");

            var jsonStr = "[[${productList}]]".replace(new RegExp('&quot;', "gm"), '"');

            // console.log(jsonStr);

            var jsonObject = JSON.parse(jsonStr);

            // console.log(jsonObject);

            // 获取表格body
            tb = $("#tbody");

            // 遍历 jsonObject 数组的每个对象,k为 0 开始的下标
            for (var k in jsonObject) {
                 // console.log(k + " " + jsonObject[k].name);

                // 新建一行
                var tr = $("<tr/>");
                // 依次插入这一行内的每列
                $("<td/>").html(jsonObject[k].id).appendTo(tr);
                $("<td/>").html(jsonObject[k].class1).appendTo(tr);
                $("<td/>").html(jsonObject[k].class2).appendTo(tr);
                $("<td/>").html(jsonObject[k].class3).appendTo(tr);
                $("<td/>").html(jsonObject[k].name).appendTo(tr);
                $("<td/>").html(jsonObject[k].picture).appendTo(tr);
                // 将该行加入表格中
                tb.append(tr);
            }

            // $("#login").click(function () {
            //
            //     $("#checkPassword").html("");
            //     $("#checkUsername").html("");
            //
            //     data = {"username":$("#inputUsername").val(),
            //         "password":$("#inputPassword").val()};
            //     $.post("/admin/login",data,function (data) {
            //         console.log("123"+data.toString());
            //         if(data.toString()==="USERNAME_DENIED"){
            //             $("#checkUsername").css("color","red");
            //             $("#checkUsername").html("账号不存在");
            //
            //         }
            //         if(data.toString()==="PASSWORD_DENIED"){
            //             $("#checkPassword").css("color","red");
            //             $("#checkPassword").html("密码错误");
            //         }
            //     })
            // });
        });

        function f() {

        }
    </script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/admin/admin_index/product/pages?pageNum=3&pageSize=3">分页查询product</a>
                                </li>
                                <li>
                                    <a href="#">index_product_list</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <table class="table table-bordered table-hover">
                <thead id="thead">
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        class1
                    </th>
                    <th>
                        class2
                    </th>
                    <th>
                        class3
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        picture
                    </th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr>

                </tr>
                <tr class="success">

                </tr>
                <tr class="error">

                </tr>
                <tr class="warning">

                </tr>
                <tr class="info">

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--页脚-->
<th:block th:replace="common :: common_footer"></th:block>


</body>
</html>