<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- thymeleaf代码块功能 导入共用link -->
    <th:block th:replace="common :: common_link"></th:block>
    <!-- 导入样式表 -->
    <link href="/css/product.css" rel="stylesheet" type="text/css"/>
    <!-- JavaScript -->
    <!-- 定义全局变量传入js文件中 -->
    <script type="text/javascript">

        var path = "[[${path}]]";
        console.log(path);
        // var indexProductList = "[[${indexProductListJSONArray}]]";

    </script>
    <!-- 引入js文件 -->
    <script src="/js/common.js" type="text/javascript"></script>
    <script src="/js/product.js" type="text/javascript"></script>

</head>
<body>

<!-- 导航栏 -->
<th:block th:replace="common :: common_nav"></th:block>


<div class="container-fluid" style="min-height: 751px">
    <div class="row clearfix">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10 col-xs-12">
            <!-- 缩略图片列表 -->
            <th:block th:replace="common :: common_picbox"></th:block>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
</div>


<!-- 页脚 -->
<th:block th:replace="common :: common_footer"></th:block>

</body>
</html>