<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- thymeleaf代码块功能 导入共用link -->
    <th:block th:replace="common :: common_link"></th:block>
    <!-- 导入样式表 -->
    <link href="/css/product.css" rel="stylesheet" type="text/css"/>
    <!-- JavaScript -->
    <!-- 定义全局变量传入js文件中 -->
    <script type="text/javascript">
        var indexProductList = "[[${indexProductListJSONArray}]]";
    </script>
    <!-- 引入js文件 -->
    <script src="/js/product.js" type="text/javascript"></script>

</head>
<body>

<!-- 导航栏 -->
<th:block th:replace="common :: common_nav"></th:block>

<!-- 缩略图片列表 -->
<th:block th:replace="common :: common_piclist"></th:block>

<!-- 页脚 -->
<th:block th:replace="common :: common_footer"></th:block>

</body>
</html>