<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/fragments5/base :: common_header(~{::title},~{::link})">-->
<head>
    <meta charset="UTF-8">

    <!--thymeleaf代码块功能 导入共用link-->
    <th:block th:replace="common :: common_link"></th:block>
    <!--导入样式表-->
    <link href="/css/index.css" rel="stylesheet" type="text/css"/>
    <!--JavaScript-->
    <script type="text/javascript">
        $(document).ready(function () {

            var jsonStr = "[[${indexProductList}]]".replace(new RegExp('&quot;', "gm"), '"');
            // console.log(jsonStr);
            var jsonObject = JSON.parse(jsonStr);
            // console.log(jsonObject);
            for (var k in jsonObject) {  //遍历jsonObject 对象的每个key/value对,k为key
                // console.log(k + " " + jsonObject[k].name);
                $("#product_ul").append(
                    "<li data-plugin=\"appear\" data-animate=\"slide-bottom\" class=\"animation-slide-bottom\">\n" +
                    "   <a href=\"/product/" + jsonObject[k].product_id + "\">\n" +
                    "       <p>\n" +
                    "           <img src=\"" + jsonObject[k].picture + "\" alt=\"" + jsonObject[k].name + "\" style=\"display: inline;\">\n" +
                    "       </p>\n" +
                    "       <span>" + jsonObject[k].name + "</span>\n" +
                    "   </a>\n" +
                    "</li>"
                );
            }

        });
    </script>
</head>
<body>
<!--导航栏-->
<th:block th:replace="common :: common_nav"></th:block>

<div class="picture-box">
    <div class="container-fluid">
        <div class="title-box animation-slide-bottom appear-no-repeat" data-plugin="appear" data-animate="slide-bottom"
             data-repeat="false">

            <h3>产品中心</h3>

            <p>梦的家园，爱的港湾，科乐奇为您打造温暖的世界！</p>

        </div>
        <div class="picture-list">
            <ul id="product_ul" class="blocks blocks-xs-2 blocks-md-4">


            </ul>
        </div>
    </div>
</div>

<div>

</div>
<!--页脚-->
<th:block th:replace="common :: common_footerNav"></th:block>
</body>
</html>