<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="/fragments5/base :: common_header(~{::title},~{::link})">-->
<head>
    <meta charset="UTF-8">

    <!--thymeleaf代码块功能 导入共用link-->
    <th:block th:replace="common :: common_link"></th:block>
    <!--导入样式表-->
    <link href="/css/product_detail.css" rel="stylesheet" type="text/css"/>
    <!--JavaScript-->
    <script type="text/javascript">

        //JQuery的Ajax用法
        $(function () {
            console.log("/product/product_detail/" + [[${id}]]);
            $.post("/product/product_detail/" + [[${id}]], function (data) {
                $('#img1').attr("src", data);
                console.log("加载图片成功！：" + data);
            })
        })


    </script>
</head>
<body>
<!--导航栏-->
<th:block th:replace="common :: common_nav"></th:block>


<div id="divtest">
    <img id="img1" src="/img/loading.gif" alt="图片加载中！">
</div>

<div>

</div>
<!--页脚-->
<th:block th:replace="common :: common_footer"></th:block>
</body>
</html>