<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- thymeleaf代码块功能 导入共用link -->
<!--<th:block th:replace="common :: common_link"></th:block>-->
<script src="/webjars/jquery/1.9.1/jquery.js"></script>
<link href="/webjars/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.js"></script>

<link href="/css/test.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
    $(document).ready(function () {
        // $("#bt1").click(function(){
        //
        //     $("#dropdownMenu1").dropdown('toggle');
        // });
        $('.btn').mouseover(function () {
            $(this).find('li').show();
        });
        $('.btn').mouseout(function () {
            $(this).find('li').hide();
        });

        // $("#dropdownMenu1").mouseover(function(){
        //     alert("!");
        //     $("#dropdownMenu1").show();
        // });
    });


    function test() {
        /*
                //方法1
                url="/product/all/ajax/1/8";
                $("#div111").load(url);


                */

        //方法2
        $.post(
            "/testajax",
            "",
            function (data) {
                console.log(data);
                $("#div111").html(data);
            }
        )


    }

</script>
<head>
    <meta charset="UTF-8">
    <title>苏州科乐奇</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--<div class="btn">-->
<!--    <div>标签一</div>-->
<!--    <ul>-->
<!--        <li>-->
<!--            一-->
<!--        </li>-->
<!--        <li>-->
<!--            二-->
<!--        </li>-->
<!--        <li>-->
<!--            三-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div class="btn">-->
<!--    <div>标签二</div>-->
<!--    <ul>-->
<!--        <li>-->
<!--            一-->
<!--        </li>-->
<!--        <li>-->
<!--            二-->
<!--        </li>-->
<!--        <li>-->
<!--            三-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div class="btn">-->
<!--    <div>标签三</div>-->
<!--    <ul>-->
<!--        <li>-->
<!--            一-->
<!--        </li>-->
<!--        <li>-->
<!--            二-->
<!--        </li>-->
<!--        <li>-->
<!--            三-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->


<!--<button id="bt1">Dio</button>-->
<!--<div class="dropdown">-->
<!--    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" >主题-->
<!--        <span class="caret"></span>-->
<!--    </button>-->
<!--    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">Java</a>-->
<!--        </li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>-->
<!--        </li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>-->
<!--        </li>-->
<!--        <li role="presentation" class="divider"></li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->




<!--<a href="/testmail" data-target="/testmail">测试mail</a>-->
<!--<a href="/testhtmlmail" data-target="/testhtmlmail">测试htmlmail</a>-->

<!--<p>两年后将会是 <span th:text="2020 + 2">1902</span>.</p>-->
<!--<span th:text="'欢迎您:' + '!'"></span>-->

<!--<span th:text="bbbb"></span>-->


<!--<script th:inline="javascript">-->
<!--    const user = /*[[${msg}]]*/ {};-->
<!--    const age = /*[[${msg}]]*/ 20;-->
<!--    console.log(user);-->
<!--    console.log(age)-->
<!--</script>-->

<!--<button onclick="test()">哈哈</button>-->
<!--<div id="div111">-->
<!--    <span th:fragment="reflash" th:text="${msg}"></span>-->
<!--</div>-->


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
<!--            11111111111-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->


<!--<nav class="navbar navbar-default" role="navigation">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle" data-toggle="collapse"-->
<!--                    data-target="#example-navbar-collapse">-->
<!--                <span class="sr-only">切换导航</span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#">菜鸟教程</a>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse" id="example-navbar-collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li class="active"><a href="#">iOS</a></li>-->
<!--                <li><a href="#">SVN</a></li>-->
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        Java <b class="caret"></b>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="#">jmeter</a></li>-->
<!--                        <li><a href="#">EJB</a></li>-->
<!--                        <li><a href="#">Jasper Report</a></li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li><a href="#">分离的链接</a></li>-->
<!--                        <li class="divider"></li>-->
<!--                        <li><a href="#">另一个分离的链接</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->



<nav class="nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
            <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">logo</a>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">one</a></li>
                <li><a href="#">two</a></li>
                <!--下拉菜单功能的实现-->
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    three<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">first</a></li>
                        <li><a href="#">second</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--导航-->
<!--<div class="navbar navbar-fixed-top navbar-inverse" >-->
<!--    <div class="container">-->
<!--        <div class="nav-logo">-->
<!--            <a class="" href="#">-->
<!--                <img class="img-responsive" src="logo.png" alt="北京市XXXX科技有限公司" style="height: 100%;width: auto;" />-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse navbar-right" id="navBar">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a href="#">首页</a></li>-->
<!--                <li><a href="#">公司介绍</a></li>-->
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        产品中心<span class="caret"></span>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" role="menu">-->
<!--                        <li><a href="#">SmartCall智能呼</a></li>-->
<!--                        <li><a href="#">运营管理平台ＯＭＳ</a></li>-->
<!--                        <li><a href="#">客户关系管理系统</a></li>-->
<!--                        <li><a href="#">电销系统</a></li>-->
<!--                        <li><a href="#">知识库管理</a></li>-->
<!--                        <li><a href="#">排班管理模块</a></li>-->
<!--                        <li><a href="#">考试培训系统</a></li>-->
<!--                        <li><a href="#">多媒体调度指挥系统</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                        行业方案<span class="caret"></span>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" role="menu">-->
<!--                        <li><a href="#">多媒体呼叫中心</a></li>-->
<!--                        <li><a href="#">保险行业</a></li>-->
<!--                        <li><a href="#">制造行业</a></li>-->
<!--                        <li><a href="#">政府部门</a></li>-->
<!--                        <li><a href="#">教育行业</a></li>-->
<!--                        <li><a href="#">酒店/旅游</a></li>-->
<!--                        <li><a href="#">电子商务</a></li>-->
<!--                        <li><a href="#">社区服务</a></li>-->
<!--                        <li><a href="#">铁路/客运</a></li>-->
<!--                        <li><a href="#">医疗卫生</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a href="#">公司新闻</a></li>-->
<!--                <li><a href="#">典型客户</a></li>-->
<!--                <li><a href="#">合作伙伴</a></li>-->
<!--                <li><a href="#">联系我们</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<nav class="nav navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a href="#" class="navbar-brand">logo</a>-->
<!--        </div>-->
<!--        <div id="menu" class="collapse navbar-collapse row">-->
<!--            <ul class="nav navbar-nav col-md-10">-->
<!--                <li class="active col-md-4 col-sm-12"><a href="#">one</a></li>-->
<!--                <li class="col-md-4 "><a href="#">two</a></li>-->
<!--                &lt;!&ndash;下拉菜单功能的实现&ndash;&gt;-->
<!--                <li class="dropdown col-md-4 col-sm-12"><a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--                    three<span class="caret"></span></a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="#">first</a></li>-->
<!--                        <li><a href="#">second</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--<div id="div_1"></div>-->
</body>
</html>