<!DOCTYPE html>
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="/css/test.css" rel="stylesheet" type="text/css" />
<html lang="en">
<script type="text/javascript">
    $(document).ready(function(){
        // $("#bt1").click(function(){
        //
        //     $("#dropdownMenu1").dropdown('toggle');
        // });
        $('.btn').mouseover(function(){
            $(this).find('li').show();
        });
        $('.btn').mouseout(function(){
            $(this).find('li').hide();
        });
        // $("#dropdownMenu1").mouseover(function(){
        //     alert("!");
        //     $("#dropdownMenu1").show();
        // });
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>苏州科乐奇</title>
</head>
<body>
<div class="btn">
    <div>标签一</div>
    <ul>
        <li>
            一
        </li>
        <li>
            二
        </li>
        <li>
            三
        </li>
    </ul>
</div>
<div class="btn">
    <div>标签二</div>
    <ul>
        <li>
            一
        </li>
        <li>
            二
        </li>
        <li>
            三
        </li>
    </ul>
</div>
<div class="btn">
    <div>标签三</div>
    <ul>
        <li>
            一
        </li>
        <li>
            二
        </li>
        <li>
            三
        </li>
    </ul>
</div>
<!--<button id="bt1">Dio</button>-->
<!--<div class="dropdown">-->
<!--    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" >主题-->
<!--        <span class="caret"></span>-->
<!--    </button>-->
<!--    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">Java</a>-->
<!--        </li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>-->
<!--        </li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>-->
<!--        </li>-->
<!--        <li role="presentation" class="divider"></li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<a href="/testmail" data-target="/testmail">测试mail</a>
<a href="/testhtmlmail" data-target="/testhtmlmail">测试htmlmail</a>
</body>
</html>