<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- thymeleaf代码块功能 导入共用link -->
<th:block th:replace="common :: common_link"></th:block>

<script type="text/javascript">
    $(document).ready(function () {
        // $("#bt1").click(function(){
        //
        //     $("#dropdownMenu1").dropdown('toggle');
        // });
        $('.btn').mouseover(function () {
            $(this).find('li').show();
        });
        $('.btn').mouseout(function () {
            $(this).find('li').hide();
        });

        // $("#dropdownMenu1").mouseover(function(){
        //     alert("!");
        //     $("#dropdownMenu1").show();
        // });
    });


    function test() {
        /*
                //方法1
                url="/product/all/ajax/1/8";
                $("#div111").load(url);


                */

        //方法2
        $.post(
            "/testajax",
            "",
            function (data) {
                console.log(data);
                $("#div111").html(data);
            }
        )


    }

</script>
<head>
    <meta charset="UTF-8">
    <title>苏州科乐奇</title>
</head>
<body>
<div class="btn">
    <div>标签一</div>
    <ul>
        <li>
            一
        </li>
        <li>
            二
        </li>
        <li>
            三
        </li>
    </ul>
</div>
<div class="btn">
    <div>标签二</div>
    <ul>
        <li>
            一
        </li>
        <li>
            二
        </li>
        <li>
            三
        </li>
    </ul>
</div>
<div class="btn">
    <div>标签三</div>
    <ul>
        <li>
            一
        </li>
        <li>
            二
        </li>
        <li>
            三
        </li>
    </ul>
</div>
<!--<button id="bt1">Dio</button>-->
<!--<div class="dropdown">-->
<!--    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" >主题-->
<!--        <span class="caret"></span>-->
<!--    </button>-->
<!--    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">Java</a>-->
<!--        </li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">数据挖掘</a>-->
<!--        </li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">数据通信/网络</a>-->
<!--        </li>-->
<!--        <li role="presentation" class="divider"></li>-->
<!--        <li role="presentation">-->
<!--            <a role="menuitem" tabindex="-1" href="#">分离的链接</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<a href="/testmail" data-target="/testmail">测试mail</a>
<a href="/testhtmlmail" data-target="/testhtmlmail">测试htmlmail</a>

<p>两年后将会是 <span th:text="2020 + 2">1902</span>.</p>
<span th:text="'欢迎您:' + '!'"></span>

<span th:text="bbbb"></span>


<script th:inline="javascript">
    const user = /*[[${msg}]]*/ {};
    const age = /*[[${msg}]]*/ 20;
    console.log(user);
    console.log(age)
</script>

<button onclick="test()">哈哈</button>
<div id="div111">
    <span th:fragment="reflash" th:text="${msg}"></span>
</div>
</body>
</html>